In [8]:
import pandas as pd

In [9]:
df_test=pd.read_csv('./Data/Q_1_test.csv')
df_pred=pd.read_csv('./Data/Q_1_pred_result_full.csv')
df_full=pd.read_csv('./Data/Q_1_pred_result.csv')

In [10]:
df_pred=df_pred.transpose()
df_full=df_full.transpose()

In [11]:
df_pred=df_pred.reset_index()
df_pred

    index         0         1    2    3
0       1  0.000000  1.000000  0.0  0.0
1      11  0.000000  1.000000  0.0  0.0
2      16  0.000000  0.000000  0.0  1.0
3      17  1.000000  0.000000  0.0  0.0
4      20  0.000000  0.000000  1.0  0.0
..    ...       ...       ...  ...  ...
165   551  0.000000  1.000000  0.0  0.0
166   552  1.000000  0.000000  0.0  0.0
167   555  0.000000  0.000000  1.0  0.0
168   556  0.000000  0.000000  1.0  0.0
169   557  0.333333  0.666667  0.0  0.0

[170 rows x 5 columns]

In [12]:
df_pred=df_pred.drop('index',axis=1)

In [13]:
df_pred=df_pred.rename(columns={0:1,1:2,2:3,3:4})

In [14]:
df_pred

            1         2    3    4
0    0.000000  1.000000  0.0  0.0
1    0.000000  1.000000  0.0  0.0
2    0.000000  0.000000  0.0  1.0
3    1.000000  0.000000  0.0  0.0
4    0.000000  0.000000  1.0  0.0
..        ...       ...  ...  ...
165  0.000000  1.000000  0.0  0.0
166  1.000000  0.000000  0.0  0.0
167  0.000000  0.000000  1.0  0.0
168  0.000000  0.000000  1.0  0.0
169  0.333333  0.666667  0.0  0.0

[170 rows x 4 columns]

In [15]:
df_full=df_full.transpose()

In [16]:
df_pred

            1         2    3    4
0    0.000000  1.000000  0.0  0.0
1    0.000000  1.000000  0.0  0.0
2    0.000000  0.000000  0.0  1.0
3    1.000000  0.000000  0.0  0.0
4    0.000000  0.000000  1.0  0.0
..        ...       ...  ...  ...
165  0.000000  1.000000  0.0  0.0
166  1.000000  0.000000  0.0  0.0
167  0.000000  0.000000  1.0  0.0
168  0.000000  0.000000  1.0  0.0
169  0.333333  0.666667  0.0  0.0

[170 rows x 4 columns]

In [17]:
df_pred.iloc[0]

1    0.0
2    1.0
3    0.0
4    0.0
Name: 0, dtype: float64

In [18]:
arr_pred=[]
for rows in range(170):
    #print(df_pred.iloc[rows].idxmax())
    a=df_pred.iloc[rows].idxmax()
    a=int(a)
    arr_pred.append(a)

In [19]:
df_full

            1         2         3         4
0    0.227273  0.772727  0.000000  0.000000
1    0.000000  0.777778  0.000000  0.222222
2    0.037037  0.037037  0.037037  0.888889
3    0.916667  0.083333  0.000000  0.000000
4    0.031250  0.031250  0.937500  0.000000
..        ...       ...       ...       ...
165  0.066667  0.933333  0.000000  0.000000
166  1.000000  0.000000  0.000000  0.000000
167  0.031250  0.031250  0.937500  0.000000
168  0.000000  0.060606  0.939394  0.000000
169  0.375000  0.500000  0.000000  0.125000

[170 rows x 4 columns]

In [20]:
arr_pred_full=[]
for rows in range(170):
    #print(df_full.iloc[rows].idxmax())
    a=df_full.iloc[rows].idxmax()
    a=int(a)
    arr_pred_full.append(a)

In [21]:
answer=df_test['classdigit']

pandas.core.series.Series

In [22]:
#

In [23]:
from sklearn.metrics import confusion_matrix
Full_data=confusion_matrix(answer,arr_pred_full)
print(Full_data)
from sklearn.metrics import classification_report

print(classification_report(answer,arr_pred_full))

[[21 25  1  2]
 [13 23  3  1]
 [ 3  0 37  0]
 [ 3  8  4 26]]
              precision    recall  f1-score   support

           1       0.53      0.43      0.47        49
           2       0.41      0.57      0.48        40
           3       0.82      0.93      0.87        40
           4       0.90      0.63      0.74        41

    accuracy                           0.63       170
   macro avg       0.66      0.64      0.64       170
weighted avg       0.66      0.63      0.63       170

In [24]:
test_conf_pruned=confusion_matrix(answer,arr_pred)

In [25]:
print(test_conf_pruned)
print(classification_report(answer,arr_pred))

[[24 21  0  4]
 [15 22  1  2]
 [ 4  2 34  0]
 [ 6  5  4 26]]
              precision    recall  f1-score   support

           1       0.49      0.49      0.49        49
           2       0.44      0.55      0.49        40
           3       0.87      0.85      0.86        40
           4       0.81      0.63      0.71        41

    accuracy                           0.62       170
   macro avg       0.65      0.63      0.64       170
weighted avg       0.65      0.62      0.63       170